# Lab 0: Basic Python, Functions, Lists, Strings, and Files

## EXERCISE 1: A Simple Calculator

Here is a fun little calculator which exercises what you have learnt so far.

It has only 4 operations - Addition, Subtraction, Multiplication and Divison

Notice the use of no-operation `pass`. It allows us to incrementally code by doing nothing to start, and put in functionality over time.

In [2]:
print("Select operation\n")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")

# Something NEW: Take input from the user 
choice = input("\nEnter choice(1/2/3/4): ")

# We convert the input to a floating-pount(or real) number.

num1 = float(input("\nEnter first number: "))
num2 = float(input("\nEnter second number: "))

if choice == '1':
    # your code here
    print(num1+num2)
elif choice == '2':
    print(num1-num2)
elif choice == '3':
    print(num1*num2)
elif choice == '4':
    print(num1/num2)
else:
    print("Select a valid option.")

Select operation

1.Addition
2.Subtraction
3.Multiplication
4.Division

Enter choice(1/2/3/4): 2

Enter first number: 3

Enter second number: 4
-1.0

## EXERCISE 2: List like objects and functions on them

Materialize lists using 

1. `range(50)`
2. The function application `enumerate(list of alphabets)`
3. Write your own enumerate function for a list using the function `zip`.

In [3]:
# your code here
l1 = list(range(50))
l1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [5]:
# your code here
import string
alphabet_list = list(string.ascii_lowercase)
for i,val in enumerate(alphabet_list):
  print(i,val)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [9]:
# your code here
# own enumerate function using zip function
l3 = zip(l1,alphabet_list)
l3 #<zip at 0x7feb41211408>
print(l3) #<zip object at 0x7feb41b31bc8>
for elmt in set(l3):
  print(elmt)  # displayed in random order

<zip object at 0x7feb41211648>
(22, 'w')
(25, 'z')
(1, 'b')
(10, 'k')
(4, 'e')
(23, 'x')
(21, 'v')
(15, 'p')
(0, 'a')
(19, 't')
(24, 'y')
(12, 'm')
(6, 'g')
(5, 'f')
(13, 'n')
(20, 'u')
(14, 'o')
(8, 'i')
(16, 'q')
(17, 'r')
(7, 'h')
(2, 'c')
(9, 'j')
(18, 's')
(3, 'd')
(11, 'l')

## EXERCISE 3: Count the special characters

Consider the string "HelloWorld,123,ThisIsUniv.Ai" (not including the quotes). Find the number of uppercase, lowercase, special character and numerical characters.

In [ ]:
my_string = "HelloWorld,123,ThisIsUniv.Ai"
# your code here
lowercaseCount = my_string

In [ ]:
counter(string.ascii_uppercase, my_string),counter(string.ascii_lowercase, my_string),counter(string.digits, my_string),counter(string.punctuation, my_string)

## EXERCISE 4: Read a file and parse words from it

Read Julius Caesar. Get each line. Remove newline characters from each line. Split the line to get the words from the line. Lowercase them. Print the first 1000 words, lowercased.

In [ ]:
# your code here