# Getting Started with Python

Lets start at the very beginning. You can use Python as a calculator.

This is my first notebook forked from other github repo. 

![](https://github.com/vinithakris/BasicPython/blob/main/getting_started.slides.dir/8.png?raw=1)

## A calculator

In [1]:
1 + 1

2

In [2]:
5 - 1

4

In [3]:
23*45

1035

In [4]:
2**10

1024

In [5]:
5/2

2.5

And this is integer divison:

In [6]:
5//2

2

You can also get the remainder:

In [7]:
5 % 2

1

A language is not particularly useful,if you cant *symbolically* assign values in the language to names. This is the concept of *variables*, stolen from algebra.

## Variables

**Variables are labels for values**

- Start with a letter or underscore
- Can contain only alpha-numeric characters and underscore
- Are case sensitive

In [8]:
# CANT DO THIS 9variable = "hello"
# print 9variable

Var = "hello"
#print (var) # will give an error
print (Var)

hello

What happened above? In the computer's memory, a location was found, and then filled with the word "hello". Then a variable `Var` was created and was used to label this memory location.

![](https://github.com/vinithakris/BasicPython/blob/main/images/labelmem.jpg?raw=1)

### Variable Data Types

  - Integer
  - Float
  - String
  - Boolean

(More data types are available but not necessary now)

In [9]:
#To identify the data type of a variable in python we use the built-in function type()

var = 7
print (var)
print("The data type is:", type(var))

7
The data type is: <class 'int'>

In [10]:
var = 7.01
print (var)
print("The data type is:", type(var))

7.01
The data type is: <class 'float'>

In [11]:
var = "Hello World!"
print (var)
print("The data type is:", type(var))

Hello World!
The data type is: <class 'str'>

In [12]:
var = True
print (var)
print("The data type is:", type(var))

True
The data type is: <class 'bool'>

A variable is literally a label. You can think of it as a post-it, or sticky note, or a *pointer*. Do not think of it as a box in which a value is stored.

In the above, we just take the variable `var` and point it to different pieces of memory holding different values. This is perhaps more clear from a diagram.

![](https://github.com/vinithakris/BasicPython/blob/main/images/labelmemmany.jpg?raw=1)

## Even More operators

Besides the usual "operators" for values we profiled at the top, you can also use the following:

1. Boolean Expressions: returns True or False 
2. Relational operators: !=, ==, <=, <, >, >= 
3. Logical Operators: and, or, not

You can use a variable, wherever you had used a value:

In [13]:
# Arithmetic Operators
var1 = 5
var2 = 3

print (var1 - var2)
print (var1*var2)

var1 = "hello"
var2 = "world"
var3 = "!"
print (var1+" "+var2+var3)

# Modulus
a = 5
b = 2
c = a%b
print (c)

2
15
hello world!
1

In any programming language, to be able to do something useful, you need to be able to evaluate the "truthiness" of expressions.

In [14]:
# Relational Operators & Boolean expressions
var1 = 5
var2 = 3
print (var1 < var2)

False

Such comparisons can be used to make decisions, as we shall soon see.

In [15]:
a = "hgi"
b = "hello"
c = "hi"
d = "hello"
print (a==c)
print (b==d)

False
True

The first comparison compares the contents of the memory for `a` and `c` and finds that both are different, giving us `False`. Conversely, the second comparison gives us `True`. We can utilize such comparisons in "decision statements".

## Conditional Statements and Python Indentation

If you have the ability to test something for "truthiness", you can use it to make a decision.

In [16]:
#Simple If conditions
var1 = 5
var2 = 10

if var1 == var2:
    print("The values are equal")
if var1 < var2:
    print("First variable is lesser than the second variable")
if var1 > var2:
    print("Second variable is lesser than the first variable")

First variable is lesser than the second variable

Notice how python dispenses with brackets, **replacing them by a colon and an indented next line**. The indentation tells us that the code below runs when the condition holds. Python uses this **colon-indentation** for many things, such as *for loops* for iteration and loops in general, for conditionals, for function and class definition, etc.

This conditional is such a common idiom that there is a better way to write it.

In [17]:
#An alternative way to code the previous (If-Else)
var1 = 5
var2 = 10

if (var1 == var2):
    print("The values are equal")
elif (var1 < var2):
    print("First variable is lesser than the second variable")  
else:
    print("Second variable is lesser than the first variable")

First variable is lesser than the second variable

Notice the brackets around the conditional. These are optional but can sometimes help disambiguate. You can combine multiple such statements.

In [18]:
#Nested If
var1 = 5
var2 = 10
var3 = 15

if (var1 == var2):
    print ("The values are equal")

elif (var1 < var2):
    if (var2 == var3):
        print ("Equal ")
    elif (var2 < var3):
        print ("Less than")
    else:
        print ("Greater than")

else:
    print ("Did not satisfy any previous conditions")

Less than